@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@font-face {
  font-family: Clash-Medium;
  src: url("font/clash/ClashDisplay-Medium.otf") format("opentype");
}

@font-face {
  font-family: Clash;
  src: url("font/clash/ClashDisplay-Regular.otf") format("opentype");
}

body {
        background: linear-gradient(75deg,#0D0D0D 60%, transparent 20%), linear-gradient(105deg, transparent 50%, #0D0D0D 80%);
        background-size: 4em 4em;
        background-color: #0ABF04;
        opacity: 1;
}