@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@font-face {
  font-family: Clash-Medium;
  src: url("font/clash/ClashDisplay-Medium.otf") format("opentype");
}

@font-face {
  font-family: Clash;
  src: url("font/clash/ClashDisplay-Regular.otf") format("opentype");
}

body {
        background: linear-gradient(75deg,#0ABF04 60%, transparent 20%), linear-gradient(105deg, transparent 60%, #0ABF04 80%);
        background-size: 3em 3em;
        background-color: #0d0d0d;
        opacity: 1;
}